<a href="https://colab.research.google.com/github/XCh1an/COMSCI/blob/main/for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [ ]:
#You can play around with the examples in this cell


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
for i in range(1,10):
  print(i*2)

2
4
6
8
10
12
14
16
18

:2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [ ]:
word = input("Enter a word: ")
vowels = "AEIOUaeiou"

print("Vowels in the word:", end=" ")
for letter in word:
    if letter in vowels:
        print(letter, end=" ")

print()

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [ ]:
def reverse_list(input_list):
    reversed_list = []
    for item in input_list:
        reversed_list.insert(0, item)
    return reversed_list

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [ ]:
def count_odd_numbers(input_list):
    count = 0
    for number in input_list:
        if number % 2 != 0:
            count += 1
    return count

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [ ]:
def assign_grades(scores):
    grades = []
    for score in scores:
        if 90 <= score <= 100:
            grades.append("A")
        elif 80 <= score < 90:
            grades.append("B")
        elif 70 <= score < 80:
            grades.append("C")
        elif 60 <= score < 70:
            grades.append("D")
        else:
            grades.append("F")
    return grades

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [ ]:
def print_word_lengths(words):
    for word in words:
        print(f"{word}: {len(word)}")

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [ ]:
def print_positive_numbers(numbers):
    for number in numbers:
        if number > 0:
            print(number)

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [ ]:
def celsius_to_fahrenheit(celsius_temperatures):
    fahrenheit_temperatures = []
    for celsius in celsius_temperatures:
        fahrenheit = (celsius * 9/5) + 32
        fahrenheit_temperatures.append(fahrenheit)
    return fahrenheit_temperatures

9. **Name Initials:** For a list of full names, print the initials of each name.

In [ ]:
def print_name_initials(names):
    for name in names:
        name_parts = name.split()
        initials = ''.join(part[0].upper() for part in name_parts)
        print(f"{name}: {initials}")

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [ ]:
sum_result = 0
for number in range(1, 101):
    sum_result += number

print("Sum of numbers from 1 to 100:", sum_result)